.message {
    font-size: 56px;
    word-wrap: break-word;
    background-color: orange;
    height: 80px;
}

.speech-bubble {
    height: 400px;
    /*background-color: lightgray;*/
}

.avatars {
    /*max-width: 1200px;*/
    /*height: 200px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*background-color: pink;*/
}

.avatar {
    /*border-radius: 50%;*/
    /*border: 1px dashed red;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*height: 40px;*/
    text-align: center;
}

.avatar > img {
    width: 50%;
    border-radius: 50%;
}

body {
    background-image: url('../../tree.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
