<div class="row" speech-bubble></div>
<div class="row avatars">
    <span class="col-md-3">
        <div class="avatar">
            <img src="profile-placeholder.gif"/>
        </div>
    </span>
    <span class="col-md-3">
        <div class="avatar">
            <img src="profile-placeholder.gif"/>
        </div>
    </span>
    <span class="col-md-3">
        <div class="avatar">
            <img src="profile-placeholder.gif"/>
        </div>
    </span>
    <span class="col-md-3">
        <div class="avatar">
            <img src="profile-placeholder.gif"/>
        </div>
    </span>
</div>
<div compose-message class="row message"></div>
